body{
    background-color: #000000c9;
    color: #ae8fe7;
    font: normal 16px Calibri;   
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: whitesmoke;
    background-color: #ae8fe7;
    width: 250px;
}

div:hover {
    color: rgb(158, 157, 209);
}