@charset "UTF-8";

body {
    background-color: #000000c9;
    color: #ae8fe7;
    font: normal 16px Calibri;
}

div {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
    height: 200px;
    width: 200px;
}

div:hover {
    background-color: yellow;
}