body {
    background-color: rgba(0, 0, 0, 0.795);
    color: #ae8fe7;
    font: normal 16px Calibri;
}

h1 {
    text-shadow: 3px 3px 10px black;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ae8fe7;
    text-shadow: 3px 3px 3px black;
    transform: translate( 0px, -3px);
    transition: 0.5s;
}
